@font-face {font-family: 'iconfont';
    src: url('/static/fonts/iconfont.eot'); /* IE9*/
    src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/static/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/static/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/static/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:1.1em;font-style:normal;
    color:inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0; 
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #607d8b;
    line-height: 1.5;
}

.progress-list div {
    width: 100%;
    margin-left: 200px;
}

.info-list, .progress-list{
    list-style: none;
    padding-left: 0px;
}

.right-list li {
    margin-bottom: 12px;
}


hr {
    margin-bottom: 8px;
}

.info-unit {
    color: #666;
    margin-bottom: 20px;
}

body {
    background-color: lightslategray;
    font-family: sans-serif;
}

footer {
}

p {
    line-height: 1.5;
}

progress {
    background-color: #f6f6f6;
    display: inline;
    /*width: 195px;*/
    height: 1em;

}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #708d9b;
}

progress::-moz-progress-bar {
    background-color: #e0eaf0;

}

progress::-moz-progress-value {
    background-color: #708d9b;
}

.progress-list {
    line-height: 2;
}



.me {
    text-align: center;
    margin-bottom: 20px;
}

.weixin{
    margin-top: 40px;
    background-color: #e0eaf0;   
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.weixin img{
    width: 200px;
}

.info-list {
    font-size: 16px;
    line-height: 2;
}

.left-label {
    display: inline-block;
    width: 120px;
}

.portrait {
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 10px;
    background-image:url('https://avatars0.githubusercontent.com/u/21081491?v=3&s=460');
    background-size: 120%;
    background-position:center;
    border-radius:50%;
    border:5px solid #607d8b;
    width:160px;
    height:160px;
}

.container {
    position: relative;
    margin: 0 auto;
    box-shadow: 1px 1px 4px gray;
    padding: 40px;
    padding-top: 55px;

    width: 1050px;
    height: 1485px;
    background-color: white;

}

.side {
    position: absolute;
    width: 360px;
    
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    
    position: relative;;
    margin-left: 360px;
    min-height: 100%;
    padding-left: 20px;
    padding-right: 20px;

}



